<ion-header>
  <ion-toolbar>
    <ion-title>
      Activity Planner
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Activity Input Form -->
  <ion-item>
    <ion-label position="floating">Activity Name</ion-label>
    <ion-input type="text" [(ngModel)]="activityName"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Times per Week</ion-label>
    <ion-input type="number" [(ngModel)]="activityFrequency"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Precipitation Threshold (%)</ion-label>
    <ion-input type="number" [(ngModel)]="precipitationThreshold"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="saveActivity()">Save Activity</ion-button>

  <!-- List of Saved Activities -->
  <ion-list>
    <ion-item *ngFor="let activity of activities; let i = index">
      <ion-label>
        {{ activity.name }} - {{ activity.frequency }} times/week - {{ activity.precipitationThreshold }}% precipitation
      </ion-label>
      <ion-button color="danger" (click)="deleteActivity(activity.id)">Delete</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
