<ion-content [fullscreen]="true" style="background-color: #e3fae3;">
  <ion-header collapse="condense">
  </ion-header>
  <div *ngFor="let forecast of processedForecastArray">
    <ion-card class="forest-card" 
              style="position: relative;" 
              [ngStyle]="{ 
                'background-image': 
                  ((forecast.precipitationProbability < precipitationThreshold || forecast.precipitationProbability === 0)  && 
                   (forecast.predictedSoilMoisture < activityFrequency || forecast.predictedSoilMoisture === undefined)) 
                  ? 'url(assets/light-rain-forest.png)' 
                  : 'url(assets/heavy-rain-forest.png)' 
              }">

      <div *ngIf="(forecast.predictedSoilMoisture !== undefined && forecast.predictedSoilMoisture >= activityFrequency) || forecast.precipitationProbability >= precipitationThreshold" class="red-tint">
      </div>

      <ion-card-header>
        <ion-card-title class="forest-text">{{ forecast.day }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-label class="forest-text">Temperature: {{ forecast.temperature }}°F</ion-label><br>
        <ion-label class="forest-text">Daytime: {{ forecast.isDaytime ? 'Yes' : 'No' }}</ion-label><br>
        <ion-label class="forest-text">Heating Degree Days (HDD): {{ forecast.HDD }}</ion-label><br>
        <ion-label class="forest-text">Cooling Degree Days (CDD): {{ forecast.CDD }}</ion-label><br>
        <ion-label class="forest-text">Precipitation Probability: {{ forecast.precipitationProbability }}%</ion-label><br>
        <ion-label class="forest-text">Estimated Precipitation: {{ forecast.estimatedPrecipitation }} mm</ion-label><br>
        <ion-label class="forest-text">Forecast Details: {{ forecast.detailedForecast }}</ion-label><br>
        <ion-label class="forest-text">Predicted Soil Moisture: {{ forecast.predictedSoilMoisture !== undefined ? forecast.predictedSoilMoisture + '%' : 'Gathering data, provide prediction soon' }}</ion-label><br>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
