<ion-content [fullscreen]="true" style="background-color: #e3fae3;">
  <ion-header collapse="condense">
  </ion-header>
  <div *ngFor="let forecast of processedForecastArray">
    <ion-card class="forest-card" 
              style="position: relative; background-size: cover; background-position: center;" 
              [ngStyle]="{ 
                'background-image': 
                  ((forecast.precipitationProbability < precipitationThreshold || forecast.precipitationProbability === 0) && 
                   (forecast.predictedSoilMoisture < activityFrequency || forecast.predictedSoilMoisture === undefined || forecast.predictedSoilMoisture === 'Gathering data, provide prediction soon')) 
                  ? 'url(assets/bike.png)' 
                  : 'url(assets/light-rain-forest.png)' 
              }">

      <div *ngIf="(forecast.predictedSoilMoisture !== undefined && forecast.predictedSoilMoisture >= activityFrequency) || forecast.precipitationProbability >= precipitationThreshold">
      </div>

      <ion-card-header>
        <ion-card-title class="forest-text">{{ forecast.day }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div style="background-color: rgba(0, 0, 0, 0.5); padding: 10px; border-radius: 5px;">
          <ion-label class="forest-text" style="color: white;">Temperature: {{ forecast.temperature }}°F</ion-label><br>
          <ion-label class="forest-text" style="color: white;">Precipitation Probability: {{ forecast.precipitationProbability }}%</ion-label><br>
          <ion-label class="forest-text" style="color: white;">Estimated Precipitation: {{ forecast.estimatedPrecipitation }} mm</ion-label><br>
          <ion-label class="forest-text" style="color: white;">Forecast Details: {{ forecast.detailedForecast }}</ion-label><br>
          <ion-label class="forest-text" style="color: white;">Predicted Soil Moisture: {{ forecast.predictedSoilMoisture !== undefined ? forecast.predictedSoilMoisture + '%' : 'Gathering data, provide prediction soon' }}</ion-label><br>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
